<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diwali Wisher</title>
<style>
    body{
        /* background-image: url('https://i.pinimg.com/736x/35/fa/5a/35fa5a2fcc491a23c205ca551ff0d7a1.jpg'); */
        background-image: url('https://i0.wp.com/sociallover.net/wp-content/uploads/2019/10/18.gif?resize=480%2C318');
        background-repeat: no-repeat;
        background-size: cover;
    }
    #label{
        margin: 50px;
        font-size: 60px;
        font-family: cursive;
        font-style: oblique;
        font-weight: bold;
        color: white;
    }
    #wish{
        margin: 50px;
        font-size: 60px;
        font-family: cursive;
        font-style: oblique;
        font-weight: bold;
        color: white;
    }
    h1{
        font-size: 100px;
        margin: 20px;
        font-family: fantasy;
        font-weight: bold;
        font-style: italic;
        color: white;
    }
    img{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
  
    </style>
</head>
<body>
   
    <!-- <label id="label">SNEHA THOMAS wishes you...</label> <br> <br> -->
   
    <img src="https://hdvidstatus.com/wp-content/uploads/2018/10/Beautiful-Diwali-Animated-Image-For-Whatsapp.gif" style="margin-left: 240px;" width="900px" height="500px" alt="">
    
     <form id="mailform"  method="post">
     <!-- <div id="content">
    <label>Enter name of recepient</label>
    <input type="text" id="name" name="name"> <br>
    <label>Enter mail of recepient</label>
    <input type="text" id="email" name="email"> <br>
    <button name="submit">submit</button>  -->
   
   
  </form>
</div>


</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>